In [163]:
import classifier as classifier
# Importing the libraries
from sklearn.neighbors import KNeighborsClassifier as knn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [164]:
# Importing the dataset
dataset = pd.read_csv('spambase.csv')
dataset

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [165]:
dataset.head(5)
dataset.describe()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
count,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,...,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,0.104576,0.212922,0.280578,0.065439,0.312222,0.095922,0.114233,0.105317,0.090087,0.239465,...,0.038583,0.139061,0.016980,0.268960,0.075827,0.044248,5.191827,52.170870,283.290435,0.393913
std,0.305387,1.290700,0.504170,1.395303,0.672586,0.273850,0.391480,0.401112,0.278643,0.644816,...,0.243497,0.270377,0.109406,0.815726,0.245906,0.429388,31.732891,194.912453,606.413764,0.488669
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.275500,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.382500,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.314250,0.052000,0.000000,3.705250,43.000000,265.250000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

# Checking Missing values

In [166]:
# check for missing values
if dataset.isnull().values.any():
    # drop rows containing missing values
    num_missing = dataset.isnull().sum().sum()
    data = dataset.dropna()
    # check for and drop duplicated rows
    num_duplicates = data.duplicated().sum()
    data = data.drop_duplicates()
    # print results
    print(f"Dropped {num_missing} rows containing missing values.")
    print(f"Dropped {num_duplicates} duplicated rows.")
else:
    # check for and drop duplicated rows
    num_duplicates = dataset.duplicated().sum()
    data = dataset.drop_duplicates()
    # print results
    print(f"Dropped {num_duplicates} duplicated rows.")

Dropped 391 duplicated rows.

In [167]:
# by assuming that "data" is the Pandas DataFrame you want to summarize
summarizing = data.describe()
# print the summary statistics
print(summarizing)

                 0         0.64       0.64.1          0.1         0.32  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.104391     0.112530     0.291390     0.063093     0.325322
std       0.300036     0.454241     0.515752     1.352647     0.687887
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.440000     0.000000     0.410000
max       4.540000    14.280000     5.100000    42.810000    10.000000

               0.2          0.3          0.4          0.5          0.6  ...  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000  ...
mean      0.096679     0.117503     0.108026     0.091882     0.248479  ...
std       0.276059     0.397327     0.410328     0.282174     0.656705  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
75%       0.000000     0.000000     0.000000     0.000000     0.190000  ...
max       5.880000     7.270000    11.110000     5.260000    18.180000  ...

              0.40         0.41         0.42        0.778         0.43  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.040413     0.144082     0.017380     0.281018     0.076075
std       0.252562     0.274280     0.105743     0.843387     0.239734
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.073000     0.000000     0.016000     0.000000
75%       0.000000     0.194000     0.000000     0.331000     0.053000
max       4.385000     9.752000     4.081000    32.478000     6.003000

              0.44        3.756           61          278            1
count  4209.000000  4209.000000  4209.000000   4209.00000  4209.000000
mean      0.045809     5.384282    52.137800    291.18508     0.398670
std       0.435976    33.151287   199.605834    618.72831     0.489683
min       0.000000     1.000000     1.000000      1.00000     0.000000
25%       0.000000     1.627000     7.000000     40.00000     0.000000
50%       0.000000     2.297000    15.000000    101.00000     0.000000
75%       0.000000     3.706000    44.000000    273.00000     1.000000
max      19.829000  1102.500000  9989.000000  15841.00000     1.000000

[8 rows x 58 columns]

## Separating columns

In [168]:
# separating the independent variables (features) and dependent variable (target) from a dataset
X = dataset.iloc[:, :-1]# select all rows and all columns except the last one
y = dataset.iloc[:, -1] # select all rows and the last column

In [169]:
X

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.39,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.0,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40

In [170]:
from sklearn.model_selection import train_test_split  # imports the  train_test_split function from scikit-learn

# Splits the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [171]:
# Fitting classifier to the Training set
from sklearn.neighbors import KNeighborsClassifier

# Fitting classifier to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
classifier.fit(X_train,y_train)

KNeighborsClassifier()

In [172]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
print(y_pred)

[0 0 0 ... 1 1 0]

In [173]:
from sklearn.tree import DecisionTreeClassifier
#Create a DecisionTreeClassifier object with 3 neighbors
# Fit the model to the training data
# Make predictions on the test data
dt = DecisionTreeClassifier(max_depth=3,criterion='entropy')
dt.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

## Confusion matrix

In [174]:
# Make the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[659 144]
 [178 399]]

In [175]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
#make predictions on dataset using KNeighbors classifier
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)
knn_y_pred = knn_model.predict(X_test)

knn_accuracy = accuracy_score(y_test, knn_y_pred)
knn_precision = precision_score(y_test, knn_y_pred)
knn_recall = recall_score(y_test, knn_y_pred)
knn_f1 = f1_score(y_test, knn_y_pred)

print("KNN Model Metrics:")
print("Accuracy:", knn_accuracy)
print("Precision:", knn_precision)
print("Recall:", knn_recall)
print("F1 Score:", knn_f1)

KNN Model Metrics:
Accuracy: 0.7666666666666667
Precision: 0.7348066298342542
Recall: 0.6915077989601387
F1 Score: 0.7125

In [176]:
# Import the necessary libraries and modules from scikit-learn
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create an instance of the DecisionTreeClassifier class with a maximum depth of 5 and a random state of 42
dt_model = DecisionTreeClassifier(max_depth=5, random_state=45)

# Train the decision tree model on the training data
dt_model.fit(X_train, y_train)
dt_y_pred = dt_model.predict(X_test)

# Calculate the accuracy of the model by comparing the predicted labels to the actual labels
dt_accuracy = accuracy_score(y_test, dt_y_pred)
dt_precision = precision_score(y_test, dt_y_pred)

# Calculate the recall of the model by comparing the true positive predictions to all actual positive cases in the dataset
dt_recall = recall_score(y_test, dt_y_pred)
dt_f1 = f1_score(y_test, dt_y_pred)

# Print out the performance metrics of the decision tree model
print("Decision Tree Model Metrics:")
print("Accuracy:", dt_accuracy)
print("Precision:", dt_precision)
print("Recall:", dt_recall)
print("F1 Score:", dt_f1)

Decision Tree Model Metrics:
Accuracy: 0.886231884057971
Precision: 0.9007633587786259
Recall: 0.8180242634315424
F1 Score: 0.8574023614895548

In [177]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create a decision tree classifier
dt_classifier = DecisionTreeClassifier(random_state=42)

# Train the model on the training data and Use the trained model to make predictions on the test data
dt_classifier.fit(X_train, y_train)
y_pred = dt_classifier.predict(X_test)

# Evaluating the model using various metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the evaluation metrics
print("Decision tree model evaluation:")
print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F1 score: {f1:.3f}")

Decision tree model evaluation:
Accuracy: 0.903
Precision: 0.896
Recall: 0.868
F1 score: 0.882

In [178]:
#KNN model evaluation
#importing metrics from sklearn
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

y_pred_knn = knn_model.predict(X_test)
acc_knn = accuracy_score(y_test, y_pred_knn)
#precision score calculates the precision of the predicted labels
prec_knn = precision_score(y_test, y_pred_knn)
rec_knn = recall_score(y_test, y_pred_knn)
#f1_score calculates the F1 score of the predicted labels
f1_knn = f1_score(y_test, y_pred_knn)
#printing the evaluation metrics for the KNN model
print("KNN Model Evaluation:")
print("Accuracy: {:.4f}".format(acc_knn))
print("Precision: {:.4f}".format(prec_knn))
print("Recall: {:.4f}".format(rec_knn))
print("F1-Score: {:.4f}".format(f1_knn))

KNN Model Evaluation:
Accuracy: 0.7667
Precision: 0.7348
Recall: 0.6915
F1-Score: 0.7125

In [179]:
from sklearn import metrics

#Evaluate KNN model
knn_pred = knn.predict(X_test)
knn_acc = metrics.accuracy_score(y_test, knn_pred)
knn_prec = metrics.precision_score(y_test, knn_pred)
knnrec = metrics.recall_score(y_test, knn_pred)
knn_f1 = metrics.f1_score(y_test, knn_pred)
knn_cm = metrics.confusion_matrix(y_test, knn_pred)

# Evaluate decision tree model
dt_pred = dt.predict(X_test)
dt_acc = metrics.accuracy_score(y_test, dt_pred)
dt_prec = metrics.precision_score(y_test, dt_pred)
dt_rec = metrics.recall_score(y_test, dt_pred)
dt_f1 = metrics.f1_score(y_test, dt_pred)
dt_cm = metrics.confusion_matrix(y_test, dt_pred)

TypeError: predict() missing 1 required positional argument: 'X'

In [ ]:
#evaluating decision tree model and KNN model
#evaluating KNN model
print("KNN Metrics")
print("Accuracy:", knn_acc)
print("Precision:", knn_prec)
print("Recall:", knnrec)
print("F1 Score:", knn_f1)
print("Confusion Matrix:\n", knn_cm)

print("Decision Tree Metrics")
print("Accuracy:", dt_acc)
print("Precision:", dt_prec)
print("Recall:", dt_rec)
print("F1 Score:", dt_f1)
print("Confusion Matrix:\n", dt_cm)

metrics.plot_confusion_matrix(KNeighborsClassifier,X_test, y_test)
plt.show()

metrics.plot_confusion_matrix(dt, X_test, y_test)
plt.show()